@media (min-width: 768px) {}

.col-sidebar {
  width: 20%;
}

.col-menu {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex: none;
}

.col-order {
  width: 30%;
  flex: none;
  display: flex;
}
