@media (min-width: 768px) {
  .col-sidebar {
    width: 20%;
  }

  .col-menu {
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    flex: none;
  }

  .col-order {
    width: 40%;
    flex: none;
    display: flex;
  }
}
