@media (min-width: 768px) {
  .menu {
    flex-basis: auto;
  }

  .Row-card {
    float: left;
    flex-wrap: wrap;
    text-align: center;
  }

  .Col-items {
    float: left;
    text-align-last: center;
    align-content: center;
    flex-grow: 4;
  }
}
