.menu {
    width: 40%;
}

.Row-card {
   width: 100vh;
    flex-wrap: wrap;
    text-align: center;
}

.Col-items{
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    width: 100vh;
}
