.layout {
    display: flex;
    flex: 1 1 auto;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: white;
}

.layout .content {
    display: flex;
    flex: 1 1 auto;
}