@media (min-width: 768px) {
  .card-deck {
    float: left;
    margin-top: 15px;
    display: flex;
    width: min-content;


  }

  .btn-card {
    width: 10px;
    height: 20px;
    text-align: justify;
  }

  .card-footer {
    padding: 0rem;
    text-align: justify;
  }
}
