@media (min-width: 768px) {
  .btn-card {
    width: 10px;
    height: 20px;
    text-align: justify;
  }

  .card-footer {
    padding: 0rem;
    text-align: justify;
  }
}

.card-deck {
  margin-top: 15px;
  display: flex;
  width: 50%;
  margin-left: 0px;
  margin-right: 0px;
}

.card-deck .card {
  margin-left: 0px;
  margin-right: 0px;
}

@media (max-width: 768px) {
  .card-deck {
    width: 100%;
  }
}
