.Order-detail {
    width: 50%;
}

.order-items{
    align-items: baseline;
    display: inline;
    text-align: inherit;
}
.btn{
    width: 100%;
    display: block;
    font-size: 20px;
    color:orange;
    background: #241e1e;
    border: none;
    transition: .4s;
}