*{
    margin: 0;
    padding: 0;
}

nav{
  background-color: #241e1e;
}
.btn-group-vertical {
    width: 100%;
}
.sidebar{
    position: relative;
    width: 220px;
    height: 100%;
    background: #241e1e;
}
.sidebar-content {
    position: absolute;
    width: 100%;
    height: 100%;
}

header {
    font-size: 22px;
    color: orange;
    text-align: center;
    line-height: 70px;
    background: #241e1e;
    user-select: none;
}

.btn-primary {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 65px;
    font-size: 20px;
    color:orange;
    background: rgb(22, 16, 4);
    padding-left: 40px;
    box-sizing: border-box;
    border: none;
    transition: .4s;
}

.btn-primary:hover{
    background: rgb(99, 72, 32);
}
.btn-primary:focus{
    color: orange;
    background: rgb(22, 16, 4);
    border: none;
    box-shadow: none;
}

.show:active{
    color: orange;
    background: rgb(22, 16, 4);
    border: none;
    box-shadow: none;
}

.dropdown-toggle {
    color: orange;
    background:rgb(22, 16, 4);
    border: none;
}